.header {
    padding: 15px;
    position: fixed;
    background-color: var(--bg-black-50);
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.header .hamburger-btn {
    height: 40px;
    width: 40px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
}

/* About Section Styles */

.section-title {
    padding: 0 15px;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 60px;
}

.section-title h2 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: uppercase;
    margin: 0;
}

.section-title p {
    display: block;
    font-size: 1rem;
    font-weight: 600;
    color: var(--skin-color);
}

.about-img {
    flex: 0 0 40%;
    max-width: 40%;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img .img-box {
    padding: 10px;
    border-radius: 50%;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img .img-box img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    max-width: 100%;
}

.social-links {
    margin-top: 20px;
    text-align: center;
}

.social-links a {
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    color: var(--text-black-700);
    margin: 3px;
    padding: 9px;
}

.social-links a:hover {
    color: var(--skin-color);
}

.about-info {
    flex: 0 0 60%;
    max-width: 60%;
    padding: 0 15px;
}

.about-info p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 16px;
    color: var(--text-black-600);
}

.about-info p a {
    color: var(--skin-color);
}

.about-info p a:hover {
    text-decoration: underline;
}

.about-info span {
    font-weight: 600;
}

.about-tabs {
    padding: 60px 15px 50px;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
}

.tab-item {
    display: inline-block;
    margin: 0 10px 10px;
    padding: 5px 10px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1.25rem;
    color: var(--text-black-600);
    font-weight: 600;
}

.about-tabs .tab-item:hover:not(.active) {
    opacity: 0.6;
}

.active {
    color: var(--skin-color);
}

.tab-content {
    flex: 0 0 100%;
    max-width: 100%;
}

/* Responsive Styles */

@media (max-width: 1024px) {
    .about-img {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 768px) {
    .about-img {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 20px;
    }

    .about-info {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .about-img .img-box img {
        height: 300px;
    }
}

@media (max-width: 576px) {
    .about-img .img-box img {
        height: 250px;
    }
}
